@import "../utility/utility.scss";

.l-header {
    background-color:$color-theme;

      display:flex;
    justify-content:space-between;
    align-items:center;
    &__left{
      padding:5px;
    }
    &__logo{
      width:20rem;
    }
    &__right{
      width:30%
    }
    &__link{
      padding:0 10px;
      &:hover{
        background: palegoldenrod;
      }
    }
  }
